<div class="equipment-main-container">
  <div class="equipment-question-container">
    <h3 id="equipment-question">What equipment do you usually have available?</h3>
  </div>
  <div class="bottom-half-equipment">
    <div class="equipment-content-container">
      <div class="row-container" id="row-1-container">
        <div class="circle" id="circle1"><img class="equip-img" id="dumbbell-img" src="https://s3.amazonaws.com/fit-pngs/Dumbbell+.png" alt="Picture of dumbbells" /></div><div class="circle" id="circle2"><img class="equip-img" id="jumprope-img" src="https://s3.amazonaws.com/fit-pngs/Jump+rope+.png" alt="Picture of jumprope" /></div><div class="circle" id="circle3"><img class="equip-img" id="mat-img" src="https://s3.amazonaws.com/fit-pngs/Mat.png" alt="Picture of a Mat"/></div>
      </div>
      <div class="row-container" id="row-2-container">
        <div class="circle" id="circle4"><img class="equip-img" src="https://s3.amazonaws.com/fit-pngs/kettlebell+.png" alt="Picture of a Kettlebell" id="kettlebell-img"/></div><div class="circle" id="circle5"><img class="equip-img" src="https://s3.amazonaws.com/fit-pngs/Treadmill.png" alt="Picture of a Tread-mill" id="treadmill-img"/></div><div class="circle" id="circle6"><img src="https://s3.amazonaws.com/fit-pngs/barbell.png" alt="Picture of a Barbell" class="equip-img" id="barbell-img"/></div>
      </div>
      <div class="row-container" id="row-3-container">
        <div class="circle" id="circle7"><img class="equip-img" src="https://s3.amazonaws.com/fit-pngs/Medicine+Ball.png" alt="Picture of a Medicine Ball" id="medball-img"/></div><div class="circle" id="circle8"><img class="equip-img" src="https://s3.amazonaws.com/fit-pngs/Bike.png" alt="Picture of a Bike" id="bike-img"/></div><div class="circle" id="circle9"><img src="https://s3.amazonaws.com/fit-pngs/Bands+.png" alt="Picture of bands" id="bands-img" class="equip-img"/></div>
      </div>
    </div>
    <%= button_to "Let's do this!", dashboard_path, id: 'equipment-submit-button', method: 'get' %>
    <!-- <button type="button" name="button" id="equipment-submit-button">Let's do this!</button> -->
  </div>
</div>
