<div class="main-container">

    <div class="title-container">
        <span id="title">F.I.T.</span>
    </div>

    <div class="slider-container">
      <div class="slider" id="homepage">
        <div id="homepage-paragraph-container">
          <h5 id="paragraph">F.I.T. stands for Functional Interval Training. It's a workout defined by alternating bursts of intense activity with periods of no- or low-intensity activity. Sign up and get F.I.T.!</h5>
        </div>
        <div id="homepage-button-container">
          <div id="homepage-signup-button-container">
            <button class="homepage-button" type="button" name="button">Sign up</button>
          </div>
          <div id="homepage-login-button-container">
            <button class="homepage-button" type="button" name="button">Log in</button>
          </div>
        </div>
      </div>
      <div class="slider" id="sign-up-page">

      </div>
      <div class="slider" id="login-page">

      </div>
    </div>

</div>
